aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
awsebcli==3.20.3
base58==2.1.1
bitarray==2.5.1
botocore==1.23.54
cement==2.8.2
certifi==2022.6.15
charset-normalizer==2.0.12
colorama==0.4.3
cytoolz==0.11.2
distlib==0.3.6
Django==4.1
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.8
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
filelock==3.8.2
frozenlist==1.3.0
future==0.16.0
hexbytes==0.2.2
idna==3.3
ipfshttpclient==0.8.0a2
jmespath==0.10.0
jsonschema==4.6.1
lru-dict==1.1.7
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
numpy==1.23.0
opencv-python==4.6.0.66
openpyxl==3.0.10
openpyxl-image-loader==1.0.5
pandas==1.4.3
parsimonious==0.8.1
pathspec==0.9.0
pefile==2022.5.30
Pillow==9.1.1
platformdirs==2.6.0
protobuf==3.20.1
psycopg2==2.9.3
pycodestyle==2.8.0
pycryptodome==3.15.0
pygame==2.1.2
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pypiwin32==223
pypng==0.0.21
PyQRCode==1.2.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
pywin32==304
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.26.0
rlp==2.0.1
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
tk==0.1.0
toml==0.10.2
toolz==0.11.2
tzdata==2022.1
urllib3==1.26.9
varint==1.0.2
virtualenv==20.17.1
wcwidth==0.1.9
web3==5.29.2
websockets==9.1
XlsxWriter==3.0.3
yarl==1.7.2
